# PejicLang Docker Compose environment configuration


# PejicLang application ports
PEJIC_PORT_APP=5000
PEJIC_PORT_API=8000


# Database configuration
DATABASE_HOST=pejiclang-db
DATABASE_PORT=5432
DATABASE_NAME=pejiclang
DATABASE_USER=pejiclang
DATABASE_PASSWORD=secret
POSTGRES_PORT=5432

